/* 
    Глобальные настройки стилей
    для всего сайта
*/
*{
    font-family: 'Comfortaa', sans-serif;
}
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #003D66;
}
body {
    background-color: #F3F4EE;
}
a {
    text-decoration: none;
    color: inherit;
}
/* 
Заголовок (header)
*/
header {
    background-color: #F3F4EE;
    height: 70px;
    border-bottom: solid 1px #e8e9e3;
}
header *{
    color:black;
}
header h1 {
    margin-top: 15px;
    text-align: center;
}
header .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #F3F4EE;
    --bs-btn-border-color: #F3F4EE;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e8e9e3;
    --bs-btn-hover-border-color: #e8e9e3;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e8e9e3;
    --bs-btn-active-border-color: #e8e9e3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #e8e9e3;
    --bs-btn-disabled-border-color: #e8e9e3;
    padding: 21px 20px;
}
.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x) 18px;
    margin-top: 5px;
    border-bottom: solid 1px rgb(158, 157, 157);
}
header .sections {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header .tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header .tabs li {
    float: left;
    position: relative;
}
header .sections li a {
    display: block;
    font-size: 1.2rem;
    padding: 21px 0;
}
header .tabs li a {
    display: block;
    font-size: 1.2rem;
    padding: 21px 20px;
}
header .sections li a:hover {
    padding-left: 10px;
    transition: 0.3s;
}
header .tabs li a:hover, .sections li a:hover {
    background-color: #e8e9e3;
    transition: 0.5s;
}
header .tabs li ul {
    list-style-type: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    display: none;
    z-index: 111;
}
header .tabs li:hover ul {
    display: block;
}
header .tabs li ul li {
    width: 100%;
}
header .tabs li ul li a {
    padding: 10px;
    background-color: #F3F4EE;
}
/* 
    Нижний колонтитул (Footer)
*/
.footer {
    background-color: #195C8D;
    color: #F3F4EE;
    position: fixed;
    bottom: 0;
    margin-top: 50px;
}
.footer .section {
    padding: 22px;
}
.footer .section p {
    text-decoration: underline;
}
.footer h3, .footer h4 {
    color: #F3F4EE;
}
.footer .about .contact span {
    display: block;
    font-size: 0.8em;
    margin-bottom: 8px;
}
.footer .about .socials a {
    width: 45px;
    height: 41px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.8em;
    color: #74C9E3;
    transition: all 0.3s;
}
.footer .about .socials a:hover {
    color: #F3F4EE;
    transition: all 0.3s;
}
.footer .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all 0.3s;
}
.footer .links ul a:hover {
    padding-left: 15px;
    transition: all 0.3s;
}
.footer .contact-form .contact-input {
    margin-bottom: 10px;
    border-radius: 3px;
    border: solid 1px #F3F4EE;
    line-height: 1.5rem;
    padding: 0.9rem 1.4rem;
}
.footer .contact-form .contact-input:focus {
    background-color: #F3F4EE;
}
.footer .contact-form .contact-btn {
    color: #F3F4EE;
    border: solid 1px #F3F4EE;
    border-radius: 25px;
    margin-top: 5px;
    padding: 12px 22px 12px 20px;
}
.footer .contact-form .contact-btn i {
    margin: 0 5px 0 20px;
    transition: all 0.8s;
}
.footer .contact-form .contact-btn:hover i {
    transform: rotate(-0.25turn);
    transition: all 0.8s;
}
.footer .bottom {
    background-color: #003D66;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
/* 
    Боковая панель (Sidebar)
*/
.sidebar {
    margin: 1rem 0;
    background-color: #195C8D;
    min-height: 600px;
}
.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #F3F4EE;
}
.sidebar ul a {
    padding: 18px;
    display: block;
    border-bottom: solid 1px #F3F4EE;
}
.sidebar ul a:hover {
    padding-left: 10px;
    transition: all 0.3s;
    color: #e8e9e3;
    text-decoration: none;
}
.items{
    height: 100%;
    padding: 40px 100px 100px;
}
.items h2 {
    text-align: center;
    margin: 2rem 0 0 0.4rem;
}
.items .table-title div {
    padding: 15px;
    text-align: center;
    border-bottom: solid 1px #195C8D;
    font-weight: 900;
}
.items .item div {
    padding: 15px;
    text-align: left;
    border-bottom: solid 1px #195C8D;
    text-align: center;
}
.items .item div a{
    padding: 18px;
}
.items .item .edit {
    color: #003D66;
}
.items .item .del {
    color: red;
}
.items .item .id {
    font-weight: bold;
}
/* 
    Добавление товара (Create item)
*/
.add-item form div {
    margin: 2rem 0;
}
/* 
    Массив сообщений об ошибках
*/
.add-item .err {
    padding: 1rem 0;
    color: brown;
}
.add-item .err ul {
    padding: 1rem 0;
    list-style-type: none;
    padding-left: 10px;
    font-weight: 500;
}